body{
    background-color: rgb(58, 56, 56);
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container{
    margin: auto;
    width: 800px;
    margin-bottom: 500px;
}

.tartalom img{
 width: 100px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.tartalom{
    background-color: rgb(58, 56, 56) ;
}

.resz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    background-color: red;


}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}

li{
font-weight: lighter;
}

#menu li{
    display: inline-block;
    padding-left: 30px;
    list-style-type: none;
}
a:hover{
    color: rgb(248, 250, 248);
}

a:visited{
    color: white;
}

a:link{
    color: white;
}

.kepek{
    padding: 0px;
    margin: 0px;
}



#masodik{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin: auto;
    width: 80%;
    
}


#szoveg{
    text-align: left;
}

#szoveg h1{
    text-align: left;
    margin: 15px 0px 5px 0px;
    border-bottom: 1px solid red;
}

#kepek img{
    float: right;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(58, 56, 56);
    }
    .resz{
        display: grid;
        grid-template-columns: 1fr;
    }
    #container{
        margin: auto;
        width: 500px;
        margin-bottom: 300px;
    }
    #menu li{
        display: grid;
        padding-left: 30px;
        list-style-type: none;
    }
    #masodik{
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        margin: auto;
        width: 80%;
        
    }

    #kepek img{
        float: right;
        width: 400px;
    }
  }



